@use '../base' as *;

// --------------------------------

// Global

// --------------------------------

html {
    // you can apply this to the container of your scrolling section
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-white);
    color: var(--color-black);
    position: relative;
    max-width: 1920px;
    margin-inline: auto;
}

.com-content-article {
    div.icons {
        display: none;
    }
}

::selection {
    color: var(--color-white);
    background: var(--color-primary);
}

@include breakpoint(md) {
    [data-aos] {
        visibility: hidden;
    }

    [data-aos].animate__animated {
        visibility: visible;
    }
}
